# Krakenbot usage example

Run this cell in case of module import problems.

In [58]:
import sys
sys.path.append('C:/Users/szgrad/repos/krakenbot/')
import krakenbot

Import required modules.

In [59]:
import krakenbot.rest.bot as kraken
import pandas as pd

Create the `KrakenBot` instance.

In [60]:
# If you are using a private api, fill in api_key and api_sec with the appropriate information.
bot = kraken.KrakenBot(api_key=None, api_sec=None)

Fetches the latest batch of transactions (up to 1000).

In [61]:
# Change the batch size (up to 1000 positions)
size = 10
recent_trades = bot.recent_trades(size=size)

# Check if the length of recent_trades list is equal to the batch size
assert len(recent_trades) == size
df = pd.DataFrame (recent_trades, columns = ['price', 'volume', 'time', 'buy(b)/sell(s)', 'market(m)/limit(l)', 'miscellaneous'])
df

,price,volume,time,buy(b)/sell(s),market(m)/limit(l),miscellaneous
0,22068.50000,0.09429672,1.662998e+09,s,m,
1,22068.40000,0.09451145,1.662998e+09,s,m,
2,22068.30000,0.13000000,1.662998e+09,s,m,
3,22068.30000,0.60754913,1.662998e+09,s,m,
4,22068.20000,2.22038247,1.662998e+09,s,m,
5,22067.90000,1.79300000,1.662998e+09,s,m,
6,22067.80000,0.25000000,1.662998e+09,s,m,
7,22067.10000,0.10347395,1.662998e+09,s,m,
8,22066.00000,0.13000000,1.662998e+09,s,m,
9,22065.50000,4.26002851,1.662998e+09,s,m,

In [ ]:
import sqlite3

conn = sqlite3.connect('test.ss')